@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 1em;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #05768f;
  width: 50%;
  margin: 0;
  text-align: center;
}

#main {
  height: 800px;
  background-color: #000;
}

#top-main {
  background-color: #d7d8db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  padding: 20px 0px 20px 0px;
}

#bottom-main {
  background-color: #05768f;
  padding-top: 20px;
  height: 60%;
}

h3 {
  color: #05768f;
  width: 50%;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

#input-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
}

input {
  width: 50%;
  height: 40px;
  margin: 0px 0px 30px 0px;
  padding-left: 20px;
}

button {
  width: 30%;
  height: 40px;
  font-size:18px;
  background-color: #05768f;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #63c0e8;
  border: 1px solid #000;
  color: #fff;
}

#list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

article {
  padding: 20px;
  color: #fff;
}

.time-ul {
  text-align: left;
}

.time-li {
  list-style: none;
  text-align: left;
}

#city-name {
  height: 50px;
  width: 50%;
  font-size: 30px;
  padding-top: 10px;
}

#graph-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

path {
stroke: steelblue;
fill: none;
stroke-width: 2;
}

.axis path, .axis line{
fill: none;
stroke: grey;
stroke-width: 1;
shape-rendering: crispEdges;
}
